*{
    margin: 0px;
    box-sizing: border-box;
}
header{
    margin: 10px 0px;
    
}
.logo{
    margin: 10px 0px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.menu{
    padding: 10px 0px;
    list-style: none;
    background-color: #5e5e5e;
    color: white;
}
li{
    height: 30px;
    text-align: center;
    margin: 10px 0px;
    letter-spacing: 1px;
}
.burgur{
    height: 35px;
    display: flex;
    justify-content: flex-end;
    background: black;
    margin: 0px;
    padding: 0px 10px;
    color: white;

}
.bar{
    display: flex;
    align-items: center;
    padding: 10px;
}
