*{
    margin: 0px;
    box-sizing: border-box;
}
header{
    
}
.logo{
    margin: 10px 0px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.menu{
    padding: 0px 0px;
    list-style: none;
    background-color: #5e5e5e21;
    color: white;
}
li{
    height: 30px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
li:hover{
    background-color: rgba(0, 0, 0, 0.6);
}
.burgur{
    height: 35px;
    display: flex;
    justify-content: flex-end;
    background: black;
    margin: 0px;
    padding: 0px 10px;
    color: white;

}
.bar{
    display: flex;
    align-items: center;
    padding: 10px;
}

.drop_menu{
    display: none;
}
.main{

}
.head{
    height: 40vh;
    width: 100%;
}
.picture{
    background-image: url(img/coffee.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    bottom: 0;
    top: 0;
    z-index: -10;    
}
.overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.48);
    top: 0;
    bottom: 0;
    z-index: -5;
    width: 100%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dishesh{
    padding: 6px 10px;
    display: flex;
}
.dish{
    flex: 1;
}
.dish_name {
    border-bottom: 1px solid #d6d6d6;
    padding: 10px 0px;
    font-weight: bold;
    color: rgb(64, 64, 64);
}
.dish_price {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 10px;
}
.discription {
    padding: 10px 0px;
    font-size: small;
    color: #737373;
    letter-spacing: 1px;
}
.showDish {
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dishPic {
    width: 96%;
    height: 300px;
    background-image: url(img/little.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.DishName{

}
.DishPrice{

}