*{
    margin: 0px;
    box-sizing: border-box;
}
header{
    margin: 10px 0px;
    
}
.logo{
    margin: 10px 0px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.menu{
    padding: 0px 0px;
    list-style: none;
    background-color: #5e5e5e21;
    color: white;
}
li{
    height: 30px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
li:hover{
    background-color: rgba(0, 0, 0, 0.6);
}
.burgur{
    height: 35px;
    display: flex;
    justify-content: flex-end;
    background: black;
    margin: 0px;
    padding: 0px 10px;
    color: white;

}
.bar{
    display: flex;
    align-items: center;
    padding: 10px;
}

.drop_menu{
    display: none;
}